<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>24servera.ru</title>
    <!-- CSS TWIG  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{{ asset('bundles/m4minecraft/img/favicon.ico') }}" type="image/x-icon">
    <link href="{{ asset ('bundles/m4minecraft/css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ asset ('bundles/m4minecraft/css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

