<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>24servera.ru</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="background"></div>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">24servera.ru/minecraft</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Добавить свой сервер</a></li>
        <li><a href="#">Раскрутить сервер</a></li>
        <li><a href="#">Наша группа вк</a></li>
        <li><a href="#">Добавить свой сервер</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Добавить свой сервер</a></li>
        <li><a href="#">Раскрутить сервер</a></li>
        <li><a href="#">Наша группа вк</a></li>
        <li><a href="#">Добавить свой сервер</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center">
        <h5 class="header col s12 light">Мониторинг игровых серверов Minecraft</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light red">+ Добавить сервер</a>
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light light-green">Раскрутить сервер</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br> --> 	
    <div class="section">
<table class="striped centered hoverable">
        <thead>
          <tr>
              <th data-field="name">Название сервера</th>
              <th data-field="descr">Краткое описание</th>
              <th data-field="adress">Адрес сервера</th>
              <th data-field="ver">Версия</th>
              <th data-field="ver">Онлайн</th>
              <th data-field="bol">Кругов</th>
          </tr>
        </thead>

        <tbody>
          <tr class="amber">
            <td>SunnyWorld Дюп и Мини Игры</td>
            <td>Дюп, кланы, hg,spleef,bowspleef,skywars,bedwars, поршни,</td>
            <td>186.2.164.200:25565</td>
            <td>1.5.2</td>
            <td>568/700</td>
            <td>22</td>
          </tr>
          <tr class="teal">
            <td>SUPERMINE 1.8-1.8.9 БЕЗ ДЮПА</td>
            <td>У нас нету дюпа ,есть свадьбы ,кланы ,pvp ,экономика ,магазин ,сплиф арена и только качественный донат</td>
            <td>5.135.32.73:25565</td>
            <td>1.8.7</td>
            <td>110/150</td>
            <td>15</td>
          </tr>
           <tr>
            <td>SunnyWorld Дюп и Мини Игры</td>
            <td>Дюп, кланы, hg,spleef,bowspleef,skywars,bedwars, поршни,</td>
            <td>186.2.164.200:25565</td>
            <td>1.5.2</td>
            <td>568/700</td>
            <td>22</td>
          </tr>
           <tr>
            <td>SUPERMINE 1.8-1.8.9 БЕЗ ДЮПА</td>
            <td>У нас нету дюпа ,есть свадьбы ,кланы ,pvp ,экономика ,магазин ,сплиф арена и только качественный донат</td>
            <td>5.135.32.73:25565</td>
            <td>1.8.7</td>
            <td>110/150</td>
            <td>15</td>
          </tr>
           <tr>
            <td>SunnyWorld Дюп и Мини Игры</td>
            <td>Дюп, кланы, hg,spleef,bowspleef,skywars,bedwars, поршни,</td>
            <td>186.2.164.200:25565</td>
            <td>1.5.2</td>
            <td>568/700</td>
            <td>22</td>
          </tr>
           <tr>
            <td>SUPERMINE 1.8-1.8.9 БЕЗ ДЮПА</td>
            <td>У нас нету дюпа ,есть свадьбы ,кланы ,pvp ,экономика ,магазин ,сплиф арена и только качественный донат</td>
            <td>5.135.32.73:25565</td>
            <td>1.8.7</td>
            <td>110/150</td>
            <td>15</td>
          </tr>
           <tr>
            <td>SunnyWorld Дюп и Мини Игры</td>
            <td>Дюп, кланы, hg,spleef,bowspleef,skywars,bedwars, поршни,</td>
            <td>186.2.164.200:25565</td>
            <td>1.5.2</td>
            <td>568/700</td>
            <td>22</td>
          </tr>
           <tr>
            <td>SUPERMINE 1.8-1.8.9 БЕЗ ДЮПА</td>
            <td>У нас нету дюпа ,есть свадьбы ,кланы ,pvp ,экономика ,магазин ,сплиф арена и только качественный донат</td>
            <td>5.135.32.73:25565</td>
            <td>1.8.7</td>
            <td>110/150</td>
            <td>15</td>
          </tr>
           <tr>
            <td>SunnyWorld Дюп и Мини Игры</td>
            <td>Дюп, кланы, hg,spleef,bowspleef,skywars,bedwars, поршни,</td>
            <td>186.2.164.200:25565</td>
            <td>1.5.2</td>
            <td>568/700</td>
            <td>22</td>
          </tr>
           <tr>
            <td>SUPERMINE 1.8-1.8.9 БЕЗ ДЮПА</td>
            <td>У нас нету дюпа ,есть свадьбы ,кланы ,pvp ,экономика ,магазин ,сплиф арена и только качественный донат</td>
            <td>5.135.32.73:25565</td>
            <td>1.8.7</td>
            <td>110/150</td>
            <td>15</td>
          </tr>
           <tr>
            <td>SunnyWorld Дюп и Мини Игры</td>
            <td>Дюп, кланы, hg,spleef,bowspleef,skywars,bedwars, поршни,</td>
            <td>186.2.164.200:25565</td>
            <td>1.5.2</td>
            <td>568/700</td>
            <td>22</td>
          </tr>
           <tr>
            <td>SUPERMINE 1.8-1.8.9 БЕЗ ДЮПА</td>
            <td>У нас нету дюпа ,есть свадьбы ,кланы ,pvp ,экономика ,магазин ,сплиф арена и только качественный донат</td>
            <td>5.135.32.73:25565</td>
            <td>1.8.7</td>
            <td>110/150</td>
            <td>15</td>
          </tr>
           <tr>
            <td>SunnyWorld Дюп и Мини Игры</td>
            <td>Дюп, кланы, hg,spleef,bowspleef,skywars,bedwars, поршни,</td>
            <td>186.2.164.200:25565</td>
            <td>1.5.2</td>
            <td>568/700</td>
            <td>22</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <footer class="page-footer light-blue">
      <div class="container">
      	<a class="orange-text text-lighten-3" href="http://materializecss.com">Copyright © 2015 24servera.ru</a>
      </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../bin/materialize.js"></script>
  <script src="js/init.js"></script>
</div>
  </body>
</html>
